{
  "env": {
    "development": {
      "presets": ["next/babel"]
    },
    "production": {
      "presets": ["next/babel"]
    },
    "test": {
      "presets": [
        ["@babel/preset-env", { "targets": { "node": "current" }, "modules": "commonjs" }],
        ["@babel/preset-react", { "runtime": "automatic" }],
        "@babel/preset-typescript"
      ],
      "plugins": ["babel-plugin-transform-import-meta"]
    }
  }
}
